textarea{ 
resize:none;
width:500px;
}

#header {
	color:white;
	background-color:black;
	height:40px;
}
#headcenter {
	font-size:30px;
	margin-top:12px;
}
.game {
	background-color: #F0F8FF;
	border-radius: 5px;
	width: 35%;
}
.line {
	color: red;
	width:15%
}

#left-sidebar {	
	float: left;
	position: fixed;
	top:50px;
}

#sidebar-list {
	margin-top:57px;
	height:250px;
	margin-left: 20px;
	font-size: 20px;
	font-family: Verdana;
	color: black;
}


.righttd {
	float:right;

}
.lefttd {
	float:left;
}
#g1 {
	text-align: right;

}


thead {
	font-size: 30px;
	color: white;
	font-style: bold;
	background-color: black;
}

.message {
	background-color: #F5FFFA;
	width: 15%;
}

.picks {
	margin-top: 57px;
}

.winner {
	background-color:#9ACD32;
}